{% extends 'base.html.twig' %}

{% block title %}Address index{% endblock %}

{% block body %}
    <h1>Address index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>SteetName</th>
                <th>PostCode</th>
                <th>City</th>
                <th>Country</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for address in addresses %}
            <tr>
                <td>{{ address.id }}</td>
                <td>{{ address.SteetName }}</td>
                <td>{{ address.PostCode }}</td>
                <td>{{ address.city}}</td>
                <th>{{ address.Country}}</th>
                <td>
                    <a href="{{ path('app_address_show', {'id': address.id}) }}">show</a>
                    <a href="{{ path('app_address_edit', {'id': address.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_address_new') }}">Create new</a>
{% endblock %}
